
<div style="color: rgb(255, 255, 255);"><h3>{{aim}}</h3></div> 

<div id="body1" class="container bg-primary ml-0 me-25 mr-0 mt-5 mb-5"> 
    <div class="card border-light mb-3" style="max-width: rem;">
    <div class="card-header"><h5 class="text-center">Sign In</h5></div>
    <div class="card-body text-dark">
      <form action="">
        <i class="fa-solid fa-square-envelope"></i><input class="form-control" type="text" [placeholder]="acnt" (change)="acnoChange($event)" id="acid">   <br>
        <!-- <div class="input-group form-group"><div class="input-group-prepend"><span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        </div> -->
        
        <i class="fa-solid fa-lock"></i> <input class="form-control" type="password" (change)="pswChange($event)" id="pid"> 
    <!-- </div>   -->
      </form><br>
      <button type="button" (click)="login()" >Sign In</button>
    </div>
   <div class="te"> Don't you have an account?<a href="./create.html">Create</a></div><br>
  </div>
  </div>
